<p style="color: green"><%= notice %></p>

<%= render @article %>

<% if @article.image.attached? %>
  <p>
    <strong>Imagen:</strong><br>
    <%= image_tag @article.image, style: "max-width: 300px; height: auto;" %>
  </p>
<% end %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
